/* Desktop dan Laptop */
@media (min-width: 1920px) {
    .area-event {
        width: auto;
        margin: 0px 128px 0px 128px;
    }
    .title-event {
        font-size: 42px;
    }
    .content-event {
        width: auto;
        /* border: 1px red solid; */
    }
    .content-event-CD {
        height: 926px;
    }
    .area-countdown {
        height: 140px;
    }

    .countdown {
        gap: 15px;
    }

    .timer {
        font-size: 40px;
    }
    .title-timer {
        font-size: 36px;
    }
    .date-month {
        font-size: 44px;
    }
    .year {
        font-size: 28px;
    }
    /* pop up event */
    .popup-content-event {
        width: 450px;
        height: fit-content;
        padding: 25px;
    }

    .desk-event {
        font-size: 16px;
    }

    .jam-event {
        font-size: 14px;
    }

    .title-box-event {
        font-size: 28px;
    }

    .link-event {
        font-size: 16px;
    }
    /* -------------- */
    /* area other upcoming event */
    .area-other-event {
        margin: 0px 128px 0px 128px;
    }
    .header-other-event {
        margin-top: 30px;
    }
    .title-event-other {
        font-size: 42px;
    }

    .area-content-OV {
        gap: 15px;
        margin-top: 10px;
    }

    .content-event-OV {
        height: 470px;
    }
    .area-days-date-right {
        height: 35px;
        padding: 20px;
    }
    .date-month-right {
        font-size:38px;
    }
    .year-right {
        font-size: 18px;
    }
    /* -------------- */

    .section-banner{
        padding-top: 20px;
    }
    
    /* area program page event */
    .area-programE {
        margin: 30px 128px 0px 128px;
        padding-bottom: 60px;
    }
    .title-programE {
        font-size: 42px;
    }
    .content-programE {
        margin-top: 5px;
        gap: 15px;
    }
    .box-programE {
        height: 530px;
    }
    /* pop up program */

    .popup-content {
        width: 450px;
        height: fit-content;
        padding: 25px;
    }

    .desk-program {
        font-size: 16px;
    }

    .jam-program {
        font-size: 14px;
    }

    .title-box-program {
        font-size: 28px;
    }

    .link-program {
        font-size: 20px;
    }

    /* -------------- */
    /* --------------------- */
}
@media (max-width: 1440px) {
    /* Gaya untuk desktop besar */
}
@media (max-width: 1366px) {
    /* Gaya untuk laptop widescreen */
}
@media (max-width: 1280px) {
    /* Gaya untuk laptop standar */
}
@media (max-width: 1024px) {
    .area-event {
        width: auto;
        margin: 0px 32px 0px 32px;
    }
    .title-event {
        font-size: 34px;
    }
    .content-event {
        width: auto;
        /* border: 1px red solid; */
    }
    .content-event-CD {
        height: 531px;
    }
    .area-countdown {
        height: 80px;
    }

    .countdown {
        gap: 15px;
    }

    .timer {
        font-size: 32px;
    }
    .title-timer {
        font-size: 18px;
    }
    .date-month {
        font-size: 28px;
    }
    .year {
        font-size: 28px;
    }
    /* pop up event */
    .popup-content-event {
        width: 450px;
        height: 200px;
        padding: 25px;
    }

    .desk-event {
        font-size: 16px;
    }

    .jam-event {
        font-size: 14px;
    }

    .title-box-event {
        font-size: 28px;
    }

    .link-event {
        font-size: 16px;
    }
    /* -------------- */
    /* area other upcoming event */
    .area-other-event {
        margin: 0px 32px 0px 32px;
    }
    .header-other-event {
        margin-top: 30px;
    }
    .title-event-other {
        font-size: 34px;
    }

    .area-content-OV {
        gap: 15px;
        margin-top: 10px;
    }

    .content-event-OV {
        height: 260px;
    }
    .area-days-date-right {
        height: 35px;
    }
    .date-month-right {
        font-size: 22px;
    }
    .year-right {
        font-size: 18px;
    }
    /* -------------- */
    /* area program page event */
    .area-programE {
        margin: 35px 32px 0px 32px;
        padding-bottom: 30px;
    }
    .title-programE {
        font-size: 38px;
    }
    .content-programE {
        margin-top: 10px;
        gap: 15px;
    }
    .box-programE {
        height: 300px;
    }
    /* pop up program */

    .popup-content {
        width: 450px;
        height: 200px;
        padding: 25px;
    }

    .desk-program {
        font-size: 16px;
    }

    .jam-program {
        font-size: 14px;
    }

    .title-box-program {
        font-size: 28px;
    }

    .link-program {
        font-size: 18px;
    }

    /* -------------- */
    /* --------------------- */
}
/* Tablet */
@media (max-width: 768px) {
    .area-event {
        width: auto;
        margin: 0px 20px 0px 20px;
    }
    .title-event {
        font-size: 30px;
    }
    .content-event {
        width: auto;
        /* border: 1px red solid; */
    }
    .content-event-CD {
        height: 402px;
    }
    .area-countdown {
        height: 70px;
    }

    .countdown {
        gap: 10px;
    }

    .timer {
        font-size: 30px;
    }
    .title-timer {
        font-size: 16px;
    }
    .date-month {
        font-size: 24px;
    }
    .year {
        font-size: 24px;
    }
    /* pop up event */
    .popup-content-event {
        width: 400px;
        height: 180px;
        padding: 25px;
    }

    .area-info-event {
        gap: 6px;
    }

    .desk-event {
        font-size: 14px;
    }

    .jam-event {
        font-size: 12px;
    }

    .title-box-event {
        font-size: 24px;
    }

    .link-event {
        font-size: 14px;
    }
    /* -------------- */
    /* area other upcoming event */
    .area-other-event {
        margin: 0px 20px 0px 20px;
    }
    .header-other-event {
        margin-top: 30px;
    }
    .title-event-other {
        font-size: 30px;
    }

    .area-content-OV {
        gap: 15px;
        margin-top: 10px;
    }

    .content-event-OV {
        height: 196px;
    }
    .area-days-date-right {
        height: 25px;
    }
    .date-month-right {
        font-size: 18px;
    }
    .year-right {
        font-size: 16px;
    }
    /* -------------- */

    .section-banner {
        padding-top: 0px;
    }

    /* area program page event */
    .page-event-3 {
        height: auto;
    }
    .area-programE {
        margin: 30px 20px 0px 20px;
        padding-bottom: 30px;
    }
    .title-programE {
        font-size: 30px;
    }
    .content-programE {
        margin-top: 10px;
        gap: 10px;
        margin-bottom: 60px;
    }
    .box-programE {
        height: 230px;
    }
    /* pop up program */
    .popup-content {
        width: 400px;
        height: fit-content;
        padding: 25px;
    }

    .desk-program {
        font-size: 14px;
    }

    .jam-program {
        font-size: 12px;
    }

    .title-box-program {
        font-size: 26px;
    }

    .link-program {
        font-size: 16px;
    }

    /* -------------- */
    /* --------------------- */
}
@media (max-width: 600px) {
    /* Gaya untuk tablet kecil atau phablet */
}
/* Mobile Devices */
@media (max-width: 480px) {
    .area-event {
        width: auto;
        margin: 0px 8px 0px 8px;
    }
    .title-event {
        font-size: 26px;
    }
    .content-event {
        width: auto;
        /* border: 1px red solid; */
    }
    .content-event-CD {
        margin-top: 10px;
        height: 221px;
    }
    .area-content-countdown {
        width: 100%;
    }
    .area-countdown {
        height: 50px;
        padding: 10px;
    }

    .countdown {
        gap: 10px;
    }

    .timer {
        font-size: 24px;
    }
    .title-timer {
        font-size: 10px;
    }
    .date-month {
        font-size: 18px;
    }
    .year {
        font-size: 18px;
    }
    /* pop up event */
    .popup-content-event {
        width: 200px;
        height: fit-content;
        padding: 15px;
    }

    .area-info-event {
        gap: 3px;
    }

    .desk-event {
        font-size: 8px;
    }

    .jam-event {
        font-size: 10px;
    }

    .title-box-event {
        font-size: 18px;
    }

    .link-event {
        font-size: 10px;
    }
    /* -------------- */
    /* area other upcoming event */
    .area-other-event {
        margin: 0px 8px 0px 8px;
    }
    .header-other-event {
        margin-top: 30px;
    }
    .title-event-other {
        font-size: 28px;
    }
    .area-content-OV {
        flex-direction: column;
        height: auto;
        gap: 10px;
        /* border: 1px red solid; */
    }
    .content-event-OV {
        height: 221px;
    }
    .area-days-date-right {
        height: 20px;
    }
    .date-month-right {
        font-size: 18px;
    }
    .year-right {
        font-size: 12px;
    }
    /* -------------- */
    .section-banner {
        padding-top: 0px;
    }
    /* area program page event */
    .page-event-3 {
        height: auto;
    }
    .area-programE {
        margin: 25px 8px 0px 8px;
    }
    .title-programE {
        font-size: 28px;
    }
    .content-programE {
        margin-top: 10px;
        gap: 10px;
        margin-bottom: 60px;
        flex-wrap: wrap;
    }
    .box-programE {
        width: 100%;
        height: 390px;
    }
    /* pop up program */
    .popup-content {
        width: 200px;
        height: fit-content;
        padding: 15px;
    }

    .area-info-program {
        gap: 5px;
    }

    .desk-program {
        font-size: 8px;
    }

    .jam-program {
        font-size: 10px;
    }

    .title-box-program {
        font-size: 18px;
    }

    .link-program {
        font-size: 10px;
    }

    /* -------------- */
    /* ------------------ */
}
@media (max-width: 375px) {
    .area-event {
        width: auto;
        margin: 0px 8px 0px 8px;
    }
    .title-event {
        font-size: 24px;
    }
    .content-event {
        width: auto;
        /* border: 1px red solid; */
    }
    .content-event-CD {
        margin-top: 10px;
        height: 193px;
    }
    .area-content-countdown {
        width: 100%;
    }
    .area-countdown {
        height: 45px;
        padding: 8px;
    }

    .countdown {
        gap: 10px;
    }

    .timer {
        font-size: 24px;
    }
    .title-timer {
        font-size: 8px;
    }
    .date-month {
        font-size: 16px;
    }
    .year {
        font-size: 16px;
    }
    /* pop up event */
    .popup-content-event {
        width: 200px;
        height: fit-content;
        padding: 15px;
    }

    .area-info-event {
        gap: 3px;
    }

    .desk-event {
        font-size: 8px;
    }

    .jam-event {
        font-size: 10px;
    }

    .title-box-event {
        font-size: 18px;
    }

    .link-event {
        font-size: 10px;
    }
    /* -------------- */
    /* area other upcoming event */
    .area-other-event {
        margin: 0px 8px 0px 8px;
    }
    .header-other-event {
        margin-top: 30px;
    }
    .title-event-other {
        font-size: 24px;
    }
    .area-content-OV {
        flex-direction: column;
        height: auto;
        gap: 10px;
        /* border: 1px red solid; */
    }
    .content-event-OV {
        height: 193px;
    }
    .area-days-date-right {
        height: 20px;
    }
    .date-month-right {
        font-size: 18px;
    }
    .year-right {
        font-size: 12px;
    }

    .line-event {
        margin-bottom: 30px;
    }
    /* -------------- */
    .section-banner {
        padding-top: 0px;
    }
    /* area program page event */
    .page-event-3 {
        height: auto;
    }
    .area-programE {
        margin: 20px 8px 0px 8px;
    }
    .title-programE {
        font-size: 24px;
    }
    .content-programE {
        margin-top: 8px;
        gap: 10px;
        margin-bottom: 30px;
        flex-wrap: wrap;
    }
    .box-programE {
        width: 100%;
        height: 342px;
    }
    /* pop up program */
    .popup-content {
        width: 200px;
        height: fit-content;
        padding: 15px;
    }

    .area-info-program {
        gap: 0px;
    }

    .desk-program {
        font-size: 8px;
    }

    .jam-program {
        font-size: 10px;
    }

    .title-box-program {
        font-size: 18px;
    }

    .link-program {
        font-size: 10px;
    }

    /* -------------- */
    /* ------------------ */
}

@media (max-width: 344px) {
    .area-event {
        width: auto;
        margin: 0px 8px 0px 8px;
    }
    .title-event {
        font-size: 22px;
    }
    .content-event {
        width: auto;
        /* border: 1px red solid; */
    }
    .content-event-CD {
        margin-top: 8px;
        height: 162px;
    }
    .area-content-countdown {
        width: 100%;
    }
    .area-countdown {
        height: 40px;
        padding: 5px;
    }

    .countdown {
        gap: 10px;
    }

    .timer {
        font-size: 16px;
    }
    .title-timer {
        font-size: 8px;
    }
    .date-month {
        font-size: 16px;
    }
    .year {
        font-size: 16px;
    }
    /* pop up event */
    .popup-content-event {
        width: 200px;
        height: fit-content;
        padding: 15px;
    }

    .area-info-event {
        gap: 3px;
    }

    .desk-event {
        font-size: 8px;
    }

    .jam-event {
        font-size: 10px;
    }

    .title-box-event {
        font-size: 18px;
    }

    .link-event {
        font-size: 10px;
    }
    /* -------------- */
    /* area other upcoming event */
    .area-other-event {
        margin: 0px 8px 0px 8px;
    }
    .header-other-event {
        margin-top: 30px;
    }
    .title-event-other {
        font-size: 22px;
    }
    .area-content-OV {
        flex-direction: column;
        height: fit-content;
        gap: 10px;
        /* border: 1px red solid; */
    }
    .content-event-OV {
        height: 162px;
    }
    .area-days-date-right {
        height: 20px;
        padding: 8px;
    }
    .date-month-right {
        font-size: 18px;
    }
    .year-right {
        font-size: 12px;
    }

    .line-event{
        margin-bottom: 20px;
    }

    /* -------------- */
    /* area program page event */
    .page-event-3 {
        height: auto;
    }
    .area-programE {
        margin: 15px 8px 0px 8px;
    }
    .title-programE {
        font-size: 28px;
    }
    .content-programE {
        margin-top: 5px;
        gap: 10px;
        margin-bottom: 5px;
        flex-wrap: wrap;
    }
    .box-programE {
        width: 100%;
        height: 286px;
    }
    /* pop up program */
    .popup-content {
        width: 200px;
        height: fit-content;
        padding: 15px;
    }

    .area-info-program {
        gap: 2px;
    }

    .desk-program {
        font-size: 8px;
    }

    .jam-program {
        font-size: 10px;
    }

    .title-box-program {
        font-size: 18px;
    }

    .link-program {
        font-size: 10px;
    }

    /* -------------- */
    /* ------------------ */
}
@media (max-width: 320px) {
    .area-event {
        width: auto;
        margin: 0px 8px 0px 8px;
    }
    .title-event {
        font-size: 22px;
    }
    .content-event {
        width: auto;
        /* border: 1px red solid; */
    }
    .content-event-CD {
        margin-top: 8px;
        height: 162px;
    }
    .area-content-countdown {
        width: 100%;
    }
    .area-countdown {
        height: 40px;
        padding: 5px;
    }

    .countdown {
        gap: 10px;
    }

    .timer {
        font-size: 16px;
    }
    .title-timer {
        font-size: 8px;
    }
    .date-month {
        font-size: 16px;
    }
    .year {
        font-size: 16px;
    }
    /* pop up event */
    .popup-content-event {
        width: 200px;
        height: fit-content;
        padding: 15px;
    }

    .area-info-event {
        gap: 3px;
    }

    .desk-event {
        font-size: 8px;
    }

    .jam-event {
        font-size: 10px;
    }

    .title-box-event {
        font-size: 18px;
    }

    .link-event {
        font-size: 10px;
    }
    /* -------------- */
    /* area other upcoming event */
    .area-other-event {
        margin: 0px 8px 0px 8px;
    }
    .header-other-event {
        margin-top: 30px;
    }
    .title-event-other {
        font-size: 22px;
    }
    .area-content-OV {
        flex-direction: column;
        height: fit-content;
        gap: 10px;
        /* border: 1px red solid; */
    }
    .content-event-OV {
        height: 162px;
    }
    .area-days-date-right {
        height: 20px;
        padding: 8px;
    }
    .date-month-right {
        font-size: 18px;
    }
    .year-right {
        font-size: 12px;
    }

    .line-event{
        margin-bottom: 20px;
    }

    /* -------------- */
    /* area program page event */
    .page-event-3 {
        height: auto;
    }
    .area-programE {
        margin: 15px 8px 0px 8px;
    }
    .title-programE {
        font-size: 28px;
    }
    .content-programE {
        margin-top: 5px;
        gap: 10px;
        margin-bottom: 5px;
        flex-wrap: wrap;
    }
    .box-programE {
        width: 100%;
        height: 286px;
    }
    /* pop up program */
    .popup-content {
        width: 200px;
        height: fit-content;
        padding: 15px;
    }

    .area-info-program {
        gap: 2px;
    }

    .desk-program {
        font-size: 8px;
    }

    .jam-program {
        font-size: 10px;
    }

    .title-box-program {
        font-size: 18px;
    }

    .link-program {
        font-size: 10px;
    }

    /* -------------- */
    /* ------------------ */
}
